html {
  font-size: 62.5%;
  @include bodyText(20);
  scroll-behavior: smooth;
}

section {
  text-align: center;
  padding: 5%;
}

a {
  color: $black;
  @include bodyText(25);
  transition: background 0.4s, height 1s, width 0.5s;
}

a:hover,
a:focus,
a:focus-within,
a:active {
  color: $hoverColor;
  cursor: pointer;
}

h2 {
  @include titleText(20);
  color: $greyh2;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  padding: 2%;
}

h3 {
  @include titleText(30);
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  padding-bottom: 2%;
  margin-bottom: 5%;
}

.resumeBackgroundColor h3::after {
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );

  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 40%;
  content: "";
  bottom: 0;
  margin: 0 auto;
}

#contact h3::after {
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );

  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 40%;
  content: "";
  bottom: 0;
  margin: 0 auto;
}

.innerButton {
  border-radius: 8px;
  padding: 5%;
  width: 225px;
}

h4 {
  @include titleText(20);
  font-weight: 500;
  text-align: left;
}

p {
  @include bodyText(20);
}

li {
  list-style: none;
}

.flexContainer {
  display: flex;
}

.aboutMeCard {
  margin: 0 auto;
  margin-top: 0px;
  max-width: calc(1140px - 30px);
  background: $white;
  margin-top: -100px;
  position: relative;
  width: 95%;
  opacity: 0;
  visibility: visible;
  border-radius: 5px;
  transition: 0.5s all ease-in-out;
  transform: translateY(20px);
  padding: 5%;
  max-width: 950px;
  box-shadow: 0px 10px 20px $shadowColor;
  margin-bottom: 10%;
}

.aboutMeCard h3 {
  color: $darkGrey;
  margin-bottom: 5%;
}

.aboutMeCard a {
  text-decoration: none;
  transform: scale(0.5, 0.5);
  transition: all 0.5s ease-in-out;
}

.aboutMeCardAppear {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.aboutMeSection section {
  background-color: $backgroundColor;
}

.flexIcon {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.aboutMeCard li {
  display: inline;
}

.aboutMeCard p {
  line-height: 35px;
  @include bodyText(20);
}

.aboutMeCard img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding: 5%;
}

.aboutMeCardFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMeCard button {
  font-size: 40px;
  background-color: $darkHoverColor;
  padding: 3%;
  text-transform: none;
}

footer {
  text-align: center;
  background-color: $backgroundColor;
  padding: 5%;
  color: $darkGrey;
  border-top: 1px solid $grey;
}

.hireMeBackgroundImage {
  background: url("../assets/hireme.jpg") no-repeat top;
  background-attachment: fixed;
  height: 50vh;
  background-size: cover;
}

.hireMeBackgroundImage h2 {
  @include titleText(50);
  color: $white;
}

button {
  background: none;
  @include bodyText(20);
  text-transform: uppercase;
  color: $white;
  border: 1px solid $grey;
  padding: 1%;
  border-radius: 8px;
  margin-top: 5%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  bottom: 0;
  background-color: #172f1f;
}

button:hover {
  position: relative;
  box-shadow: 0px 10px 50px $shadowColor;
  bottom: 2px;
}

.projectBackground {
  background-image: url("../assets/background_new.jpg");
  background-position: center;
}

.project li {
  margin: 0 auto;
  margin-bottom: 5%;
}

.project li a {
  text-decoration: none;
}

.project button {
  padding: 1%;
}

.projectBackground h2 {
  color: $black;
  font-size: 30px;
}

.projectBackground h3 {
  color: $darkGrey;
}

.container {
  position: relative;
}

.text {
  color: $black;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.buttonFlexContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.buttonFlexContainer a button {
  margin-top: 20%;
  padding: 10%;
  background-color: $hoverColor;
}

.buttonFlexContainer button:hover {
  background-color: $darkHoverColor;
  box-shadow: rgba(255, 255, 255, 0);
}

.contactCard {
  background-color: $white;
  width: 35%;
  height: 400px;
  padding: 5%;
  margin-bottom: 5%;
  border: 1px solid $grey;
  color: $paragraphColor;
  transition: all 0.5s ease-in-out;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}

.contactCard:hover {
  color: $darkHoverColor;
}

.contactCardOne:hover {
  background-image: url("../assets/toronto_pin.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactCardTwo:hover {
  background-image: url("../assets/rp_twitter_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactCardThree:hover {
  background-image: url("../assets/mail_stock_image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactCard li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 35px;
}

.contactCard h2 {
  font-size: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $black;
  font-size: 28px;
  margin-top: 10%;
}

footer p:nth-child(2) {
  color: $darkHoverColor;
  margin-top: 2%;
}
