@mixin titleText($sizeValue) {
  font-size: $sizeValue * 1px;
  font-family: "Josefin Sans", sans-serif;
}

@mixin bodyText($sizeValue) {
  font-size: $sizeValue * 1px;
  font-family: "Open Sans", sans-serif;
}

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Open Sans', sans-serif; (paragraph tags)


// @mixin titleText($sizeValue) {
//   font-size: $sizeValue * 1px;
//   font-family: 'Playfair Display', serif;
//   font-style: normal;
// }

// @mixin bodyText($sizeValue) {
//   font-size: $sizeValue * 1px;
//   font-family: 'Playfair Display', serif;
//   font-style: italic;
// }