$shadowColor: #cacaca;

$paragraphColor: #6e7373;

$black: #000000;

$white: #ffffff;

$backgroundColor: #f7f7f7;

$hoverColor: #a79b30;

$darkHoverColor: #756d20;

$navGlow: rgba(0, 0, 0, 0.459);

$yellowBackground: #d0c66b;

$purple: #bcb5d8b2;

$grey: #f0eeee;

$darkGrey: #333333;

$orange: #fd735a;

$greyh2: #878d8d;
